body {
    background: white;
    font-family: 'Nunito Sans', sans-serif;
}

.App {
    text-align: center;
}
.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.color-box-tooltip {
    opacity: 0; /* define initial transition property */
    -webkit-transition: all 0.15s ease-in-out; /* define transitions */
    transition: all 0.15s ease-in-out;
    z-index: 1;
}
.color-box:hover .color-box-tooltip {
    opacity: 1;
}

.background-blur {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
}

/* settings css */

.help-content-overlay {
    left: -88px;
    top: 43px;
    width: 12.188rem;
    height: 12.188rem;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
}

.code-parent-root .code-copy-section {
    opacity: 0;
}

.code-parent-root:hover .code-copy-section {
    opacity: 1;
}

.z-1 {
    z-index: 1;
}

.z-3 {
    z-index: 3;
}
